*, html, body{
    margin:0px;
    padding:0px;
}

html,body{
    height:100%
}

div{
    margin: 0px;
    display: block;
    border: 5px black;
}

.login{
    position: absolute;
    top: 0px;
    right: 0px;
}

#logo{
    height: 50px;
}

.header {
    height: 100px;
    width: 100%;
    margin-top: 0px;
    background-color: red;
}

.row {
    display: inline-block;
}

#map-canvas{
    height:75%;
    margin: 0px;
    margin-left: 200px;
    padding: 0px;
}

#filters{
    position: absolute;
    margin: 0px;
    margin-top: 10px;
    margin-left: 10px;
    width: 200px;
}

input.checkbox{
    height: 10px;
}