*, html, body{
    margin:0px;
    padding:0px;
}

html,body{
    height:100%;
    font-family: 'Helvetica Neue', Helvetica, Arial, default;
}

div{
    margin: 0px;
    display: block;
    border: 5px black;
}

.login{
    position: absolute;
    top: 10px;
    right: 10px;
}

.login-button{
    background-color: orange;
}

#logo{
    height: 80px;
    padding: 10px;
}

.header {
    height: 100px;
    width: 100%;
    margin-top: 0px;
    background-color: #a6dced;
}

.row {
    display: inline-block;
}

.filtersBox{
    position: absolute;
}

#map-canvas{
    height:75%;
    margin: 0px;
    margin-left: 200px;
    padding: 0px;
}

.filter{
    margin: 20px;
}

.hasSub{
    margin-bottom: 10px;
}

.subfilter-box{
    margin: 10px;
    margin-left: 40px;
}

input[type=checkbox]{
    margin-right: 10px;
}

#login-buttons .login-button,
.accounts-dialog .login-button {
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  padding: 4px 8px;
  font-size: 80%;
  font-family: 'Helvetica Neue', Helvetica, Arial, default;
  line-height: 1.5;
  text-align: center;
  color: #fff;
  text-shadow: 0px -1px 1px rgba(0, 0, 0, 0.5);
  background-color: #8790b4;
  background-image: none;
  border-radius: 4px;
  border: 1px solid #1b1e2d;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
}

.accounts-dialog{
  background-color: orange
}
